window.volume-window {
    all: unset;
    background-color: transparent;
    .volume-box {
        min-width: 120px;
        background: #17111B;
        border: 2px solid #29222C;
        padding: 10px 20px;
        margin-top: 12px;
        border-radius: 14px;
    }
    /*
    scale {
        padding: 0;
        min-width: 80px;
        margin: 10px 10px;
    
        trough {
            all: unset;
            min-height: 10px;
            border-radius: 10px;
            background: #29222C;
        }
    
        highlight {
            all: unset;
            border-radius: 10px;
            background-color: #ffffff;
        }
    
        slider {
            all: unset;
        }
    }*/
    levelbar {
        all: unset;
        trough {
            all: unset;
            min-height: 10px;
            background: #29222C;
            border-radius: 10px;
            margin: 10px;

            block.filled {
                border: none;
                background: #ffffff;
                border-radius: 10px;
            }
            block.empty {
                all: unset;
            }
        }
    }
}