@use "sass:color";
@use "./scss/colors.scss";
@use "./scss/notification.scss";
@use "./scss/keybinds.scss";


$accent: #378DF7;
$radius: 7px;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #ffffff;
$bg-color: #29222C;
$error: rgb(128, 48, 48);

/*
window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    label {
        margin: 0px 8px;
    }
    .clock {
        color: #f1f1f1;
    }

    .Workspaces  {
        button {
            all: unset;
            background-color: transparent;

            &:hover label {
                background-color: color.adjust($fg, $alpha: -0.84);
                border-color: color.adjust($accent, $alpha: -0.8);
            }

            &:active label {
                background-color: color.adjust($fg, $alpha: -0.8)
            }
        }

        label {
            transition: 200ms;
            padding: 0px 8px;
            margin: 2px;
            border-radius: $radius;
            border: 1pt solid transparent;
        }

        .focused label {
            color: $accent;
            border-color: $accent;
        }
    }

    .SysTray {
        margin-right: 8px;

        button {
            padding: 0px 4px;
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0px;
        margin-left: 0px;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0px 1em;
        }

        trough {
            background-color: color.adjust($fg, $alpha: -0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }
}
*/

window.corner-screen {
    background: transparent;
    
}
/*
window.bar {
    background-color: colors.$bg;


    label {
        font-weight: bold;
    }
    .workspaces {
        margin: 4px 0px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 0px 4px;
    }
    .workspaces button {
        all: unset;
        margin: 2px 0px;
        color: colors.$color-btn-work;
        border-radius: 50%;
        padding: 0px 6px;
    }
    .workspaces button.focused {
        color: colors.$bg;
        background: #378DF7;
    }
    .workspaces button:hover {
        color: #ffffff;
    }


    .clock {
        all: unset;
        background: colors.$bg-widgets;
        border-radius: 10px;
        margin: 4px 4px;
        padding: 0px 4px;
        color: #ffffff;
    }
    .clock .clock-point {
        font-size: 20px;
    }
    .clock .clock-calendar {
        font-size: 14px;
    }
    .app-launcher-box {
        padding: 0px 20px;
    }
    .app-launcher-box .app-launcher-btn {
        all: unset;
        color: #ffffff;
        font-size: 14px;
    }
    .app-launcher-box .app-launcher-label {
        color: #414141;
        font-size: 12px;
    }
    .media-btn {
        all: unset;
        color: #ffffff;
        font-size: 14px;
        margin: 4px 4px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 2px 4px 2px 10px;
    }
    .menu-shortcuts {
        margin: 4px 0px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 2px 4px;
    }
    .menu-shortcuts .menu-shortcuts-btn {
        all: unset;
        border-radius: 50%;
        background: colors.$fg-widgets;
        padding: 0px 4px;
        margin: 0px 2px;
    }
    .battery-box {
        margin: 4px 0px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 2px 4px;
        circularprogress {
            color: white;
            background-color: black;
            min-width: 18px;
            font-size: 2px;
        }
    }
    
    .menu-box {
        all: unset;
        margin: 4px 10px 4px 0px;
        border-radius: 10px;
        padding: 0px 10px;
        transition: all 300ms;
    }
    .menu-box .menu-btn {
        all: unset;
        padding: 0px 4px;
        margin: 0px 2px;
        font-size: 14px;
    }
    .menu-box .menu-btn:hover {
        background: colors.$bg-widgets;
    }
    .menu-box .menu-btn icon {
        font-size: 18px;
    }
    .menu-box .menu-btn .menu-btn-icon.medium {
        margin: 0px 6px;
    }
}*/
window.bar {
    background-color: colors.$bg;

    .workspaces {
        margin: 4px 0px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 0px 4px;
    }
    .workspaces button {
        all: unset;
        margin: 2px 0px;
        color: colors.$color-btn-work;
        border-radius: 50%;
        padding: 0px 6px;
    }
    .workspaces button.focused {
        color: colors.$bg;
        background: blueviolet;
    }
    .workspaces button:hover {
        color: white;
    }


    .clock {
        all: unset;
        background: colors.$bg-widgets;
        border-radius: 10px;
        margin: 4px 4px;
        padding: 0px 4px;
        color: white;
    }
    .clock .clock-point {
        font-size: 20px;
    }
    .clock .clock-calendar {
        font-size: 14px;
    }
    .app-launcher-box {
        padding: 0px 20px;
    }
    .app-launcher-box .app-launcher-btn {
        all: unset;
        color: #ffffff;
        font-size: 14px;
    }
    .app-launcher-box .app-launcher-label {
        color: #414141;
        font-size: 12px;
    }
    .media-btn {
        all: unset;
        color: #ffffff;
        font-size: 14px;
        margin: 4px 4px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 2px 4px 2px 10px;
    }
    .media-btn .media-icon {
        margin: 0px 5px;
    }
    .menu-shortcuts {
        margin: 4px 0px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 2px 4px;
    }
    .menu-shortcuts .menu-shortcuts-btn {
        all: unset;
        border-radius: 50%;
        background: colors.$fg-widgets;
        padding: 0px 4px;
        margin: 0px 2px;
    }
    .battery-box {
        margin: 4px 0px;
        background: colors.$bg-widgets;
        border-radius: 10px;
        padding: 2px 4px;
        circularprogress {
            color: white;
            background-color: black;
            min-width: 18px;
            font-size: 2px;
        }
    }
    
    .menu-box {
        all: unset;
        margin: 4px 10px 4px 0px;
        border-radius: 10px;
        padding: 0px 10px;
        transition: all 300ms;
    }
    .menu-box .menu-btn {
        all: unset;
        padding: 0px 4px;
        margin: 0px 2px;
        font-size: 14px;
    }
    .menu-box .menu-btn:hover {
        background: colors.$bg-widgets;
    }
    .menu-box .menu-btn icon {
        font-size: 18px;
    }
    .menu-box .menu-btn .menu-btn-icon.medium {
        margin: 0px 6px;
    }
}
.cornerscreenleft {
    font-size: 20px;
}
.cornerscreenright {
    font-size: 20px;
}



window.OSD {
    box.OSD {
        border-radius: 100px;
        background-color: #111111;
        padding: 8px 8px;
        margin: 10px;
        box-shadow: 3px 3px 7px 0px rgba(0,0,0,.4);
    }

    icon {
        font-size: 30px;
    }

    label {
        font-size: 20px;
    }

    levelbar {
        trough {
            margin: 10px;
        }

        block {
            min-height: 10px;
        }
    }
}
window.osd {
    background: transparent;
}

window.time {
    all: unset;
    background-color: transparent;
    
    .name-day {
        font-size: 60px;
        font-weight: bold;
    }
    .date-time {
        font-size: 20px;
        font-weight: bold;
        padding: 0px 20px;
    }
    .date-time .year {
        margin-left: 10px;
    }
    .date-time-hours {
        padding: 0px 60px;
        margin: 10px;
        
        .hour, .min, .sec {
            font-size: 18px;
            font-weight: bold;
            /*border: 2px solid rgba(0,255,153,1);*/
        }
    }
}

window.sidebar {
    all: unset;
    background: transparent;

    .btn-help {
        button:hover {
            background: #378DF7;
        }
    }
    .btn-quick-settings-box {
        background: colors.$bg-panels;
        border-radius: 20px;
        button:hover {
            background: #378DF7;
        }
    }
    .btn-quick-settings{
        all: unset;
        padding: 10px;
        border-radius: 50%;
        color: #fff;
    }
    .btn-settings-box {
        button:hover {
            background: #414141;
        }
        button:active {
            background: #505050;
        }
    }
    .notification-box {
        all: unset;
        border-radius: 14px;
        border: 0px;
        .frame {
            border: 0px;
        }
        eventbox.Notification {

        &:first-child>box {
            margin-top: 4px;
        }
    
        &:last-child>box {
            margin-bottom: 4px;
        }
    
        // eventboxes can not take margins so we style its inner box instead
        >box {
            min-width: 200px;
            border-radius: 12px;
            background-color: colors.$bg-panels;
            //margin: .5rem 1rem .5rem 1rem;
            margin: 2px 4px;
            padding: 4px 10px 10px;
            //box-shadow: 2px 3px 8px 0px gtkalpha(black, .4);
            //border: 1pt solid gtkalpha($fg-color, .03);
        }
        
        &.critical>box {
            //border: 1pt solid gtkalpha($error, .4);
            background: $error;
    /*
            .header {
    
                .app-name {
                    color: #ffffff;
    
                }
    
                .app-icon {
                    color: gtkalpha($error, .6);
                }
            }*/
        }
        &.normal>box {
            background: green;
        }
        
        
    
    
        .content {
            margin-top: 5px;
            //background: #29222C;
            
    
            .summary {
                font-size: 16px;
                color: #ffffff;
            }
    
            .body {
                font-size: 12px;
                color: #ffffff;
            }
    
            .image {
                border: 1px solid #000000;
                margin-right: .5rem;
                border-radius: 9px;
                min-width: 80px;
                min-height: 80px;
                background-size: cover;
                background-position: center;
            }
        }
        .btn-expand {
            all: unset;
            margin-left: 20px;
        }
        .btn-expand:hover {
            color: #fff;
        }
    
        .actions {
            margin: 1rem;
            margin-top: 0px;
    
            button {
                margin: 0px .3rem;
    
                &:first-child {
                    margin-left: 0px;
                }
    
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
    }
    .soundconf-box {
        all: unset;
        border-radius: 14px;
        padding: 10px;  
    }
    .keybindconf-box {
        all: unset;
        border-radius: 14px;
        padding: 10px;
    }
    .wificonf-box {
        all: unset;
        border-radius: 14px;
        padding: 0px;
        centerbox.power {
            padding: 0px 10px;
            background: colors.$bg-panels;
            border-radius: 10px;
            margin-bottom: 10px;
            font-weight: bold;
            button {
                all: unset;
                scale {
                    trough {
                        all: unset;
                        background: gray;
                        border-radius: 10px;
                        min-height: 14px;
                
                        highlight {
                            all: unset;
                            background: green;
                            border-radius: 10px;
                            min-height: 16px;
                        }
                        slider {
                            all: unset;
                            background: #fff;
                            min-height: 16px;
                            min-width: 16px;
                            border-radius: 50%;
                            margin: 0px 2px;
                        }
                    }  
                }
            }
        }
        .current {
            label {
                margin-left: 16px;
                font-size: 14px;
                color: #505050;
            }
            box {
                margin: 10px 0px;
                background: colors.$bg-panels;
                border-radius: 20px;
                icon {
                    all: unset;
                    margin: 0px 0px 0px 10px;
                    font-size: 30px;
                }
                .label-1 {
                    color: #378DF7;
                    font-size: 16px;
                }
                .label-2 {
                    color: #505050;
                    font-size: 14px;
                }
            }
        }
        .nets {
            label {
                margin-left: 16px;
                font-size: 14px;
                color: #505050;
            }
            box {
                margin: 10px 0px 0px;
                background: colors.$bg-panels;
                border-radius: 20px;
                box {
                    icon {
                        all: unset;
                        margin: 0px 0px 0px 0px;
                        font-size: 30px;
                    }
                    button {
                        all: unset;
                        label {
                            color: #ffffff;
                            font-size: 16px;
                        }
                    }
                }
            
            .items-info-box {
                all: unset;
                margin: 0px;
                centerbox{
                    margin: 10px 0px;
                    padding: 10px 0px;
                    border-radius: 20px;
                    background: colors.$bg;
                    label {
                        margin-left: 12px;
                        font-size: 14px;
                        color: #505050;
                    }
                    entry {
                        all: unset;
                        font-size: 14px;
                        border-bottom: 1px solid #fff;
                    }
                }
                button {
                    margin: 0px 30px;
                    padding: 10px 0px;
                    background: #378DF7;
                    border-radius: 20px;
                }
                button:hover {
                    opacity: 0.8;
                }

            }
            
            }
            
        }
        .items {
            background: #000000;
            margin: 5px;
            padding: 10px;
            border-radius: 4px;
        }
        .items label.command {
            background: #3b1f28;
            padding: 5px;
            border-radius: 4px;
            margin-left: 100px;
        }
    }
    
    
}

.revealer-box{
    background: colors.$bg;
    border-radius: 20px;
    padding: 10px;
}

window.media{
    all: unset;
    background-color: transparent;

    .media-box {
        background: #231e22;
        border-radius: 20px;
        margin-bottom: 20px;
        
    }
    scale {
        padding: 0px;
        margin: 10px 0px;

        trough {
            min-height: 8px;
        }

        highlight {
            background-color: yellow;
        }

        slider {
            all: unset;
        }
    }
    icon.media-icon {
        margin-left: 10px;
    }
    .cover-art {
        border-radius: 10px;
        padding: 20px;
        min-width: 60px;
        min-height: 100px;
        background-size: cover;
        background-position: center;
    }
    .control{
        button {
            all: unset;
            padding: 10px;
            margin: 0px 5px;
            background: #231e22;
            color: #fff;
            border: none;
            border-radius: 10px;
        }
    }
}

window.volume {
    all: unset;
    background-color: transparent;
    .volume-box {
        min-width: 120px;
        background: #17111B;
        border: 2px solid #29222C;
        padding: 10px 20px;
        margin-top: 12px;
        border-radius: 14px;
    }
    /*
    scale {
        padding: 0;
        min-width: 80px;
        margin: 10px 10px;
    
        trough {
            all: unset;
            min-height: 10px;
            border-radius: 10px;
            background: #29222C;
        }
    
        highlight {
            all: unset;
            border-radius: 10px;
            background-color: #ffffff;
        }
    
        slider {
            all: unset;
        }
    }*/
    levelbar {
        all: unset;
        trough {
            all: unset;
            min-height: 10px;
            background: #29222C;
            border-radius: 10px;
            margin: 10px;

            block.filled {
                border: none;
                background: #ffffff;
                border-radius: 10px;
            }
            block.empty {
                all: unset;
            }
        }
    }
}

