// Dark Mode Colors
$bg: #131412;
$bg-blur: #ffffff07;
$bg-widgets: #1f272e;
$fg-widgets: #3b3d38;
$color-btn-work: #505050;
$bg-panels: #1B1C1A;
$fg-panels: #262724;
$text-color: #D1D1D1; 
$text-color-inverted: #ffffff; 
