@use "./colors.scss";
window.sidebar {
    scrollable {
        .frame {
            border: 0px;
        }
        scrollbar {
            all: unset;
        }
        trough {
            all: unset;
            background-color: transparent;
        }
        slider {
            all: unset;
        }
    }
    .keybindconf-box {
        scrollable {
            background: colors.$bg-widgets;
        }
    }
    .items {
        color: colors.$text-color;
        background: colors.$bg-widgets;
    }
    .items label.command {
        color: colors.$text-color;
        background: colors.$bg;
        border-radius: 4px;
    }
}