
// Dark
//$bg: #18111A;
$bg: #131412;
$bg-blur: #18111abb;


// Bar
$bg-widgets: #242522;
$fg-widgets: #3b3d38;

$color-btn-work: #505050;

$bg-panels: #1B1C1A;
$fg-panels: #262724;



/*
// Light
$bg: #131412;

// Bar
$bg-widgets: #1B1C1A;

// Text
$text-normal: #111;

$light-theme: (
  primary: #3498db,
  secondary: #2ecc71,
  background: #ffffff,
  text: #1e1e1e
);

$dark-theme: (
  primary: #2980b9,
  secondary: #27ae60,
  background: #1e1e1e,
  text: #f0f0f0
);
*/